<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Nouvelle Calédonie</string>
		<key>subTitle</key>
		<string>Un beau pays</string>
		<key>lat</key>
		<real>-20.9373669</real>
		<key>lon</key>
		<real>164.6591334</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Mozilla France</string>
		<key>subTitle</key>
		<string>Pizzeria et Bar</string>
		<key>lat</key>
		<real>48.872139</real>
		<key>lon</key>
		<real>2.341154</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Ecole 42</string>
		<key>subTitle</key>
		<string>Cybercafé, Hotêl et Cinéma</string>
		<key>lat</key>
		<real>48.8965899</real>
		<key>lon</key>
		<real>2.3185</real>
	</dict>
	<dict>
		<key>title</key>
		<string>San Francisco</string>
		<key>subTitle</key>
		<string>Awesome !</string>
		<key>lat</key>
		<real>37.7755617</real>
		<key>lon</key>
		<real>-122.4169883</real>
	</dict>
</array>
</plist>
