<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>images</key>
		<array/>
		<key>title</key>
		<string>Nouvelle Calédonie</string>
		<key>subTitle</key>
		<string>Un beau pays</string>
		<key>lat</key>
		<real>-20.9373669</real>
		<key>lon</key>
		<real>164.6591334</real>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>images</key>
		<array>
			<string>https://irs2.4sqi.net/img/general/304x304/25943218_ZcBvlyeZY_JhXQz4MaPXGiTG0smwoFZZy8WZjdE9zxk.jpg</string>
			<string>https://irs3.4sqi.net/img/general/304x304/387_BUgGk7o3fhXFCkD5UEOUZ2pnVwTgRSc9qe5yGWFxULk.jpg</string>
		</array>
		<key>title</key>
		<string>Mozilla France</string>
		<key>subTitle</key>
		<string>Pizzeria et Bar</string>
		<key>lat</key>
		<real>48.872139</real>
		<key>lon</key>
		<real>2.341154</real>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>images</key>
		<array>
			<string>http://www.franceinfo.fr/sites/default/files/2013/10/06/images/principale/vlcsnap-2013-10-06-13h02m26s35.jpg</string>
			<string>http://www.5minutesatuer.com/medias/42-born-to-code-ecole.jpg</string>
			<string>http://static.ladepeche.fr/content/media/image/zoom/2014/11/26/part-par-par8037941-1-1-0.jpg</string>
			<string>http://www.clicanoo.re/IMG/jpg/a091b84479d339b2cf98bf6d3b1333090a35a9c8.jpg</string>
			<string>http://referentiel.nouvelobs.com/file/6652424-42-une-ecole-d-informatique-pour-sauver-la-france.jpg</string>
			<string>http://assets.etudiant.lefigaro.fr/cms/pics/PHO16558810-3dab-11e4-9565-a93ce899cd06-805x453.jpg</string>
		</array>
		<key>title</key>
		<string>Ecole 42</string>
		<key>subTitle</key>
		<string>Cybercafé, Hotêl et Cinéma</string>
		<key>lat</key>
		<real>48.8965899</real>
		<key>lon</key>
		<real>2.3185</real>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>images</key>
		<array/>
		<key>title</key>
		<string>San Francisco</string>
		<key>subTitle</key>
		<string>Awesome !</string>
		<key>lat</key>
		<real>37.7755617</real>
		<key>lon</key>
		<real>-122.4169883</real>
	</dict>
</array>
</plist>
